############################
### Author: nodedev74
### Created: 23-06-22
### Purpose: .gitignore file
#############################

# Build exclusion

build/*
!build/bootstrap.sh
!build/README.md

# Binary exclusion

*.dll
*.dynlib
*.so

*.lib
*.a

*.exe
