############################
### Author: nodedev74
### Created: 23-06-22
### Purpose: .gitignore file
#############################

# IDE

.vscode/*

# Build

build/*
!build/bootstrap.sh
!build/build.sh
!build/README.md

!build/temp
build/temp/*
!build/temp/.gitkeep

bin/*
!bin/.gitkeep

# Binaries

*.dll
*.dynlib
*.so

*.lib
*.a

*.exe
